{% extends 'base.html'%}

{% block content %}

<body>
    <div class="contianer">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="quotes">
                    <h1 class="text-center">{{title}}</h1>
                    <h3 class="text-center">{{quotes.quote}}</h3>
                <h5 class="text-center">~{{quotes.author}}~</h5>
                </div>
            </div>
            <div class="col-sm-2"></div>
            
        </div>
    </div>
</body>
<style>
    body{
        background: url(https://pixabay.com/photos/young-girl-smelling-flowers-1149701/);
        color: #000;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: lavender;
    }
    .quotes{
        margin-top: 25%;
    }
</style>

{% endblock%}