{% extends 'base.html'%}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% for blog in blogs %}
                <h1 class="text-center">Title ~{{blog.title_blog}} ~</h1>
                <hr>
                <p class="text-center">{{blog.description}}</p>
                <hr>
                <p class="date text-muted">Posted on</p>
                <a href="" class="btn btn-success">VIEW</a>
                <a href="{{url_for('main.delete_blogs',id=blog.id)}}" class="btn btn-success">DELETE</a>
                <a href="" class="btn btn-success">EDIT</a>

                {% endfor %}

            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>
{% endblock %}